{% load static %}
<html>
    <head>
        <title>Hello world!</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <h1>Hello world!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas commodi quod voluptatibus adipisci eos numquam incidunt molestiae odit expedita in esse voluptates, labore nulla. Ea doloribus ipsum officia enim deserunt!</p>
        <footer>
            It is currently {{time}}.
        </footer>
        <footer>
            {{a}} and {{b}}
        </footer>
    </body>
</html>