{% load static %}
<html>
    <head>
        <title>Hello world!</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <h1>welcome to hello world app. this is currently being used to practice for quiz 2</h1>
        {% for comment in comments %}
            <a href="{% url 'comment' comment.pk %}"><h3>{{comment.username}} at {{comment.timestamp}}</h3></a>
            <p>{{comment.text}}</p>
            <hr>
        {% endfor %}
        <a href="{% url 'create' %}">create a comment</a>
    </body>
</html>