<!--dadjokes/base.html-->
<!--aidan xu (axu26@bu.edu) 11/11/25-->
<!--the base html file for the dadjokes app-->

{% load static %}

<html>
    <head>
        <title>Dad Jokes</title>
        <link rel="stylesheet" href="{% static 'dadjokes.css' %}">
    </head>
    <body>
        <h1>Dad Jokes Application</h1>
        <div>
            <a href="{% url 'random' %}">Random Joke</a> • 
            <a href="{% url 'joke_list' %}">All Jokes</a> • 
            <a href="{% url 'picture_list' %}">All Pictures</a>
        </div>
        <hr>
        {% block content %}
        {% endblock %}
    </body>
</html>