<!--project/base.html-->
<!--Aidan Xu (axu26@bu.edu) 11/24/25-->
<!--base template containing header, footer, and content for every page-->

{% load static %}
<html>
    <head>
        <title>Jump World POS</title>
        <link rel="stylesheet" href="{% static 'project.css' %}">
    </head>
    <body>
        <div class="container">
            <header>
                <a href="{% url 'home' %}">
                    Jump World
                </a>
                <!--show if there is a user currently authenticated-->
                {% if request.user.is_authenticated %}
                    <span>Logged in as {{request.user}}</span>
                    <!--provide a logout button-->
                    <form action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <input type="submit", value="Log out">
                    </form>
                {% else %}
                    <span>Not logged in</span>
                {% endif %}
            </header>
            <!--main content-->
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
            <footer>
                <p>Aidan Xu (axu26@bu.edu) CS 412, Fall 2025</p>
            </footer>
        </div>
    </body>
</html>