<!--project/customer_create.html-->
<!--Aidan Xu (axu26@bu.edu) 11/24/25-->
<!--template to provide form to create a customer-->

{% extends 'project/base.html' %}
{% load static %}

{% block content %}
    <h1>Create an account</h1>
    <h3>Personal Information</h3>
    <!--form to create a user and customer account-->
    <form method="POST">
        {% csrf_token %}
        {{form_user}}
        {{form}}
        <br>
        <input type="submit" value="Create account" class="btn">
    </form>
    <br>
    <!--provide alternate options-->
    <a href="{% url 'login' %}" class="btn">
        Log in to Existing Account
    </a>
    <br>
    <a href="{% url 'home' %}" class="btn">
        Go Back
    </a>
{% endblock %}