<!--project/customer_update.html-->
<!--Aidan Xu (axu26@bu.edu) 11/24/25-->
<!--template to update customer details-->

{% extends 'project/base.html' %}
{% load static %}

{% block content %}
    <div class="formcenter">
        <h1>Update Information</h1>
        <!--form to update the customer-->
        <form method="POST">
            {% csrf_token %}
            {{form}}
            <br><br>
            <input type="submit" value="Update" class="btn">
            <!--provide cancel option-->
            <a href="{% url 'customer' customer.pk %}" class="btn">
                Go Back
            </a>
        </form>
    </div>
    
{% endblock %}