<!--project/dependent_create.html-->
<!--Aidan Xu (axu26@bu.edu) 12/8/25-->
<!--template to provide form to create a customer dependent-->

{% extends 'project/base.html' %}
{% load static %}

{% block content %}
    <div class="formcenter">
        <h1>Add dependent to {{guardian}}</h1>
        <!--form to create a dependent-->
        <form method="POST">
            {% csrf_token %}
            {{form}}
            <br>
            <input type="submit" value="Add" class="btn">
            <a href="{% url 'customer' guardian.pk %}" class="btn">
                Go Back
            </a>
        </form>
    </div>
{% endblock %}