<!--project/home.html-->
<!--Aidan Xu (axu26@bu.edu) 11/24/25-->
<!--start template, provides log in for either customer or employee-->

{% extends 'project/base.html' %}
{% load static %}

{% block content %}
    <h1>Welcome to Jump World!™ Trampoline Park</h1>
    <!--present log in links if there is no user-->
    {% if not request.user.is_authenticated %}
        <!--log in link-->
        <h3>Please Log In or Create an Account!</h3>
        <a href="{% url 'login' %}">
            Log in
        </a>
        <br>
        <a href="{% url 'create_customer' %}">
            Create an account
        </a>
    {% endif %}
    <!--provide customer navigation if there is a customer user-->
    {% if customer %}
        <h3>Customer Navigation</h3>
        <a href="{% url 'customer' customer.pk %}">
            View account information
        </a>
    {% endif %}
    <!--provide employee navigation if there is an employee user-->
    {% if employee %}
        <h3>Employee Navigation</h3>
        <a href="{% url 'customers' %}">
            Find Customer
        </a>
        <br>
        <a href="{% url 'items' %}">
            Manage Items
        </a>
    {% endif %}
{% endblock %}