<!--project/item_list.html-->
<!--Aidan Xu (axu26@bu.edu) 12/8/25-->
<!--template for item list-->

{% extends 'project/base.html' %}
{% load static %}

{% block content %}
    <h1>Items</h1>
    <a href="{% url 'create_item' %}" class="btn">
        Add Item
    </a>
    <!--form to find an item-->
    <form method="GET" class="sale">
        {% csrf_token %}
        <label for="query">Query:</label>
        <input type="text" name="query">
        <br><br>
        <input type="submit" class="btn">
    </form>
    <hr>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        <!--go through all items and display them-->
        {% for item in items %}
            <tr>
                <td>{{item.name}}</td>
                <td>${{item.price}}</td>
                <td class="actions">
                    <a href="{% url 'update_item' item.pk %}">
                        Edit
                    </a>
                    <a href="{% url 'delete_item' item.pk %}">
                        Delete
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}