<!--project/item_delete.html-->
<!--Aidan Xu (axu26@bu.edu) 12/8/25-->
<!--template to delete an item-->

{% extends 'project/base.html' %}
{% load static %}

{% block content %}
    <div class="formcenter">
        <h1>Delete {{item.name}}?</h1>
        <!--form to delete an item-->
        <form method="POST">
            {% csrf_token %}
            <input type="submit" value="Delete" class="btn">
            <!--provide a cancel option-->
            <a href="{% url 'items' %}" class="btn">
                Go back
            </a>
        </form>
    </div>
{% endblock %}