<!--project/item_update.html-->
<!--Aidan Xu (axu26@bu.edu) 12/8/25-->
<!--template to update an item-->

{% extends 'project/base.html' %}
{% load static %}

{% block content %}
    <div class="formcenter">
        <h1>Update {{item.name}}</h1>
        <!--form to update item-->
        <form method="POST">
            {% csrf_token %}
            {{form}}
            <br>
            <input type="submit" value="Update" class="btn">
            <!--provide a cancel option-->
            <a href="{% url 'items' %}" class="btn">
                Go back
            </a>
        </form>
    </div>
{% endblock %}