<!--project/saleitem_create.html-->
<!--Aidan Xu (axu26@bu.edu) 12/2/25-->
<!--template to create a saleitem-->

{% extends 'project/base.html' %}
{% load static %}

{% block content %}
    <h1>Add {{item}}?</h1>
    <!--form to create a saleitem-->
    <form method="POST">
        {% csrf_token %}
        {{form}}
        <br>
        <input type="submit" value="Yes" class="btn">
    </form>
    <br>
    <!--provide a cancel option-->
    <a href="{% url 'sale' sale.pk %}" class="btn">
        Go Back
    </a>
{% endblock %}