<!--project/saleitem_delete.html-->
<!--Aidan Xu (axu26@bu.edu) 12/1/25-->
<!--template to delete a saleitem-->

{% extends 'project/base.html' %}
{% load static %}

{% block content %}
    <h1>Delete {{saleitem.name}}?</h1>
    <!--form to confirm deletion of saleitem-->
    <form method="POST">
        {% csrf_token %}
        <input type="submit" value="Yes">
    </form>
    <!--provide cancel option-->
    <a href="{% url 'sale' saleitem.sale.pk %}">
        Cancel and go back
    </a>
{% endblock %}