<!--project/update_customer.html-->
<!--Aidan Xu (axu26@bu.edu) 11/24/25-->
<!--template to update customer details-->

{% extends 'project/base.html' %}
{% load static %}

{% block content %}
    <h1>Update Information</h1>
    <!--form to update the customer-->
    <form method="POST">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Update" class="button">
    </form>
    <!--provide cancel option-->
    <a href="{% url 'customer' customer.pk %}">
        Go back
    </a>
{% endblock %}