<!--project/update_dependent.html-->
<!--Aidan Xu (axu26@bu.edu) 11/25/25-->
<!--template to update info of a dependent-->

{% extends 'project/base.html' %}
{% load static %}

{% block content %}
    <h1>Update {{dependent}}</h1>
    <!--form to update a dependent-->
    <form method="POST">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Update" class="button">
    </form>
    <!--provide cancel button-->
    <a href="{% url 'customer' dependent.guardian.pk %}">
        Go back
    </a>
{% endblock %}