/* mini_insta.css 
 * Aidan xu (axu26@bu.edu), 9/25/25
 * the css file for the mini_insta app
 */

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}


/*header css*/
header {
    font-family: 'Segoe UI', sans-serif;
    position: fixed;
    background-color: #62d7bc;
    width: 100%;
    z-index: 100;
    text-align: center;
}

header a {
    text-decoration: none;
    color: white;
}

header a h1 {
    margin: 12px;
}


/*footer css stuff*/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #4f4f4f;
    width: 100%;
    height: 40px;
    z-index: 100;
    text-align: center;
}

footer > a > img {
    width: 32px;
    height: 32px;
    padding: 4px;
}


/*show_all_profiles css stuff*/
.all_profiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 2em;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 10px;
}

.all_profiles .square {
    text-align: center;
}

.all_profiles .square .name {
    margin: auto;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.all_profiles .square p {
    margin: 0;
    color:grey;
}

.img {
    display: inline-block;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #62d7bc;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-fit: cover;
    transition: transform 0.2s;
}

.img img:hover {
    transform: scale(1.1);
}

/*show_profile css stuff*/
.single_profile {
    display: grid;
    grid-template-columns: 320px 1fr;
}

.side_info {
    background-color: #ececec;
    height: max(100%, 100vh);
}

.img_container_single {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 6em;
    width: 240px;
    height: 240px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #62d7bc;
}

.img_container_single img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-fit: cover;
}

.info {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 4em;
}

.info > div > h1 {
    margin-bottom: 0px;
}

.info > div > h3 {
    color: gray;
    margin: 0;
}

.info > table {
    border-spacing: 10px;
    margin-bottom: 2em;
}

/*for posts*/
.show_posts {
    padding: 2em;
    padding-top: 4em;
    padding-bottom: 3em;
}

.post {
    width:300px;
    height:300px;
}

.posts_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0));
}

.posts_grid a {
    margin-bottom: 0.75em;
    width: 240px;
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.posts_grid a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-fit: cover;
    transition: transform 0.2s;
}

.posts_grid a img:hover {
    transform: scale(1.1);
}

/*follows pages*/
.follow_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0));
}

.follow {
    margin: auto;
    text-align: center;
}

.follow_grid .follow .name {
    text-align: center;
    margin: auto;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.follow_grid .follow p {
    text-align: center;
    margin: 0;
    color:grey;
}


/*for single post*/
.single_post {
    padding: 1em;
    padding-top: 5em;
    padding-bottom: 5em;
}

.post_caption {
    display: grid;
    grid-template-columns: 64px 1fr;
}

.post_caption .pfp a {
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.post_caption .pfp a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-fit: cover;
    transition: transform 0.2s;
}

.post_caption .pfp a img:hover {
    transform: scale(1.1);
}

.caption {
    margin-left: 1em;
}

.post_caption .caption a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0;
}

.caption span {
    display: inline-block;
    color: grey;
}

.caption img {
    border-radius: 5px;
    max-width: 640px;
    height: auto;
}

.del {
    vertical-align: top;
    background-color: #4f4f4f;
    border-radius: 5px;
}

.del img {
    width: 30px;
    height: 30px;
}

.del_photo {
    height: 300px;
    width: auto;
    border-radius: 5px;
}

.post_and_comments {
    display: grid;
    grid-template-columns: 1fr 420px;
}

.comments {
    background-color: #ececec;
    height: max(100%, 100vh);
    padding: 10px;
}

.comments h1 {
    margin-top: 2em;
}

.comment {
    display: grid;
    grid-template-columns: 48px 1fr;
}

.comment_img_container {
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.comment_img_container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-fit: cover;
    transition: transform 0.2s;
}

.comment_img_container img:hover {
    transform: scale(1.1);
}

.comment a {
    text-decoration: none;
    color: black;
}

.comment span {
    color:grey;
}

.comment p {
    margin-top: 8px;
    margin-bottom: 0;
}

.comment .comment_text {
    padding-left: 8px;
}


/*css for forms*/
.forms {
    padding: 1em;
    padding-top: 4em;
}

.forms form {
    display: inline-block;
}

.forms label {
    display: block;
    font-weight: bold;
}

.forms .button {
    width: 100px;
    height: 50px;
    font-size: 24;
    border-radius: 5px;
    color: white;
    background-color: #62d7bc;
    border: none;
    transition: 0.2s;
}

.forms .button:hover {
    background-color: #4f4f4f;
}

.forms label {
    margin-top: 20px;
}

.forms .single_post {
    padding-top: 1em;
    padding-bottom: 2em;
}