<!--about.html-->
<!--Aidan Xu (axu26@bu.edu), 9/9/25-->
<!--The about html for the quotes app with information of the quote speaker.-->

{% extends 'quotes/base.html' %}

{% block content %}
    <h2>About this page</h2>
    <p>This website picks a random photo and quote from David Byrne, the
        lead singer and guitarist of the band Talking Heads! Born in Scotland 
        and raised in America, he formed 
        <a href="https://en.wikipedia.org/wiki/Talking_Heads">Talking Heads</a> 
        with Chris Frantz and Tina Weymouth in 1975. Along with Jerry Harrison, 
        they would continue playing together until they broke up in 1991. They 
        would later be inducted into the Rock and Roll Hall of Fame in 2002!
    </p>
{% endblock %}