<!--mini_insta/base.html-->
<!--Aidan Xu (axu26@bu.edu), 9/24/25-->
<!--The base html file for the mini_insta app with header
    and footer, and the body provided by other html files.-->

{% load static %}

<html>
    <head>
        <title>Mini Insta</title>
        <link rel="stylesheet" href="{% static 'mini_insta.css' %}">
    </head>
    <body>
    <!--header-->
        <header>
            <a href="{% url 'show_all_profiles' %}"><h1>mini insta™</h1></a>
        </header>
    <!--main content-->
        {% block content %}
        {% endblock %}
    <!--footer-->
        <footer>
        <!--conditionals to see which operations to display-->
        <!--check for profile on the page, then allow post creation/updating-->
            {% if profile %}
                <a href="{% url 'show_profile' profile.pk %}" class="profile_home">
                    <img src="{{profile.profile_image_url}}" alt = "home" class="img_hover">
                </a>
            <!--bring back to feed-->
                <a href="{% url 'show_feed' profile.pk %}">
                    <img src="{% static 'home.webp' %}" alt = "feed" class="opt">
                </a>
            <!--create a post-->
                <a href="{% url 'create_post' profile.pk %}">
                    <img src="{% static 'plus.png' %}" alt = "post" class="opt">
                </a>
            <!--update a profile-->
                <a href="{% url 'update_profile' profile.pk %}">
                    <img src="{% static 'edit.webp' %}" alt = "update" class="opt">
                </a>
        <!--check for a post on the page, then make respective buttons-->
            {% elif post %}
            <!--go back to profile-->
                <a href="{% url 'show_profile' post.profile.pk %}">
                    <img src="{% static 'back.webp' %}" alt = "back" class="opt">
                </a>
            <!--delete a post-->
                <a href="{% url 'delete_post' post.pk %}">
                    <img src="{% static 'delete.png' %}" alt = "delete" class="opt">
                </a>
            <!--update a post-->
                <a href="{% url 'update_post' post.pk %}">
                    <img src="{% static 'edit.webp' %}" alt = "update" class="opt">
                </a>
            {% endif %}
        </footer>
    </body>
</html>