<!--mini_insta/base.html-->
<!--Aidan Xu (axu26@bu.edu), 9/24/25-->
<!--The base html file for the mini_insta app with header
    and footer, and the body provided by other html files.-->

{% load static %}

<html>
    <head>
        <title>Mini Insta</title>
        <link rel="stylesheet" href="{% static 'mini_insta.css' %}">
    </head>
    <body>
    <!--header-->
        <header>
            <a href="{% url 'show_all_profiles' %}"><h1>mini insta™</h1></a>
        </header>
    <!--main content-->
        {% block content %}
        {% endblock %}
    <!--footer-->
        <footer>
            <a href="{% url 'show_all_profiles' %}"><img src="{% static 'home.webp' %}" alt = "home"></a>
        </footer>
    </body>
</html>