<!--mini_insta/create_like_form.html-->
<!--Aidan Xu (axu26@bu.edu), 10/21/25-->
<!--page for creating a like.-->

{% extends 'mini_insta/base.html' %}
{% load static %}

{% block content %}
    <div class="forms">
        <form method="POST">
            {% csrf_token %}
            <h1>Like {{post}}?</h1>
            <input type="submit" value="Yes" class="button">
            <a href="{% url 'show_post' post.pk %}">
                <input type="button" value="No" class="button">
            </a>
        </form>
    </div>
{% endblock %}