<!--mini_insta/login.html-->
<!--Aidan Xu (axu26@bu.edu), 10/19/25-->
<!--form for logging in a user.-->

{% extends 'mini_insta/base.html' %}

{% block content %}
    <div class="forms">
        <form action="{% url 'login' %}" method="POST">
            <h1>Log In</h1>
            {% csrf_token %}
            {{form}}
            <br>
            <input type="submit" value="Log In" class="button">
            <a href="{% url 'show_all_profiles' %}">
                <input type="button" value="Cancel" class="button">
            </a>
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{request.GET.next}}">
            {% else %}
                <input type="hidden" name="next" value="{% url 'show_all_profiles' %}">
            {% endif %}
        </form>
        <br><br>
        <a href="{% url 'create_profile' %}">Create a new profile</a>
    </div>
{% endblock %}