<!--mini_insta/show_all_profiles.html-->
<!--Aidan Xu (axu26@bu.edu), 9/24/25-->
<!--The page that will show all available profiles.-->

{% extends 'mini_insta/base.html' %}

{% block content %}
    <!--produces a grid of all the profiles-->
    <div class="all_profiles">
    <!--for loop to go through all the profiles and display their information-->
        {% for profile in profiles %}
            <div class="square">
            <!--make the display name clickable too-->
                <a href="{% url 'show_profile' profile.pk %}" class="name">
                    {{profile.display_name}}
                </a>
                <p>@{{profile.username}}</p>
            <!--makes the picture clickable to take user to profile-->
                <a href="{% url 'show_profile' profile.pk %}" class="img">
                    <img src="{{profile.profile_image_url}}" alt="profile picture">
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}