<!--mini_insta/show_all_profiles.html-->
<!--Aidan Xu (axu26@bu.edu), 9/24/25-->
<!--The page that will show all available profiles.-->

{% extends 'mini_insta/base.html' %}

{% block content %}
    <!--produces a grid of all the profiles-->
    <div class="container">
        <!--go through all the profiles and display their information-->
        {% for profile in profiles %}
            <div class="square">
                <h3>{{profile.display_name}}</h3>
                <span>@{{profile.username}}</span>
                <br>
                <!--using a container here to make image circular and fit circle-->
                <a href="{% url 'show_profile' profile.pk %}">
                    <div class="img_container">
                        <img src="{{profile.profile_image_url}}" alt="profile picture">
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}