<!--mini_insta/show_profile.html-->
<!--Aidan Xu (axu26@bu.edu), 9/25/25-->
<!--The page that will show a single profile with detail.-->

{% extends 'mini_insta/base_profile.html' %}
{% load static %}

{% block list %}
    <div class="show_posts">
        <h1>Posts</h1>
        <div class="posts_grid">
        <!--go through all the profile's posts and display them-->
            {% for post in profile.get_all_posts %}
                <a href="{% url 'show_post' post.pk%}">
                    <img src={{post.get_first_photo}} alt="image">
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}