<!--mini_insta/update_profile_form.html-->
<!--Aidan Xu (axu26@bu.edu), 10/7/25-->
<!--Displays the form to be used when updating a profile.-->

{% extends 'mini_insta/base.html' %}

{% block content %}
    <div class="forms">
        <h1>Updating profile for {{profile}}</h1>
    <!--the form tag set to post method-->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        <!--the actual form that will be used to update the post-->
            {{form}}
        <!--submit button-->
            <br><br>
            <input type="submit" value="Update" class="button">
        <!--cancel button. it is an a tag disguised as a button-->
            <a href="{% url 'show_profile' profile.pk %}">
                <input type="button" value="Cancel" class="button">
            </a>
            <br><br><br>
        </form>
    </div>
{% endblock %}